/* CSS resets */
*{
	vertical-align: baseline;
	border: 0 none;
	padding: 0;
	margin: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}

#container{
   margin: 0 auto;
   display: flex;
   flex-flow: column;
   align-items: center;
   background-color: rgb(172, 0, 178);
   height: 100vh;
}

.entry{
   width: 200px;
}

#button{
   display: block;
   margin: 5px auto;
   height: 2em;
   width: 5em;
}